body{
    margin: 0px;
    padding: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightskyblue;
}
#title_and_info{
    text-align: center;
}
.main-container{
    background-color:lightskyblue;
        width:50vw;
        height:60vh;
        margin-left:24%;
        margin-top:2%;
        display:flex;
        justify-content: space-between;
        text-align: center;
}
.input{
    background-color:rgb(253, 224, 245);
    border: solid lightgreen;
    border-radius: 25px;
    width: 325px;
    box-shadow: 5px 5px 5px lightgreen;
}
#submit{
    background-color: lightgreen;
    font-size: large;
    border-radius: 5px;
}
#submit:hover{
    cursor: pointer;
}
#info-output-section{
    background-color: lightgreen;
    width: 325px;
    border: solid rgb(253, 224, 245);
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgb(253, 224, 245);
}
#reset{
    background-color: rgb(253, 224, 245);
    font-size: large;
    border-radius: 5px;
}
#reset{
    cursor: pointer;
}
#name{
    text-align: center;
}